{% extends "menu/base.html" %}

{% block body %}
<h1>Menu</h1>

<a href="{% url 'registration:logout' %}">Logout</a>
<br>

<ol>
<!-- Each menu's section -->
{% for section in menu %}
  <li>{{ section.title }}</li>
  <ul>
  <!-- Each section's plate -->
  {% for plate in section.plates.all %}
    <li>{{ plate.name }}</li>
    <ul>
    <!-- Each plate's price -->
    {% for price in plate.price_set.all %}
      <li><a href="{% url 'orders:adding' plate.id %}">{{ price.category }}: ${{ price.price }}</a></li> 
    {% endfor %}
    </ul>
  {% endfor %}
  </ul>
  <br>
{% endfor %}
</ol>
{% endblock body %}
