{% extends "layout.html" %}

{% block body %}
<h1>Menu</h1>

<ol>
{# Each menu's section #}
{% for section in menu %}
  <li>{{ section.title }}</li>
  <ul>
  {# Each section's plate #}
  {% for plate in section.section_plates.all %}
    <li>{{ plate.name }}</li>
    <ul>

    {# Each plate's price #}
    {% for price in plate.prices.all %}
      <li><a href="{% url 'shopping:addform' price.id %}">{{ price.category }}: ${{ price.price }}</a></li> 
    {% endfor %}
    </ul>
  {% endfor %}
  </ul>
  <br>
{% endfor %}
</ol>
{% endblock body %}
