{% extends "menu/base.html" %}

{% block body %}
<h1>Menu</h1>

<nav>
  <h4>registration</h4>
  <ul>
    <li><a href="{% url 'registration:logout' %}">Logout</a></li>
  </ul>

  <h4>shopping</h4>
  <ul>
    <li><a href="{% url 'shopping:mycart' %}">My cart</a></li>
    <li><a href="{% url 'shopping:myorders' %}">My orders</a></li>
  </ul>
</nav>
<br>

<ol>
{# Each menu's section #}
{% for section in menu %}
  <li>{{ section.title }}</li>
  <ul>
  {# Each section's plate #}
  {% for plate in section.section_plates.all %}
    <li>{{ plate.name }}</li>
    <ul>

    {# Each plate's price #}
    {% for price in plate.prices.all %}
      <li><a href="{% url 'shopping:adding' price.id %}">{{ price.category }}: ${{ price.price }}</a></li> 
    {% endfor %}
    </ul>
  {% endfor %}
  </ul>
  <br>
{% endfor %}
</ol>
{% endblock body %}
