{% extends "shopping/base.html" %}

{% block title %}
  Adding a plate
{% endblock %}

{% block body %}
  <h1>Adding a plate</h1>
  <p>yeah, you got it, plate: {{ plate }}, id: {{ plate.id }}</p>
  <br>

  <form action="{% url 'shopping:add' %}" method="post">
    {% csrf_token %}
    {{ form.item_id }}

    {{ form.item.label }}
    {{ form.item }}
    <br>
    {{ form.amount.label }}
    {{ form.amount }}
    <br>

  {# If the current plate has available "x" items, show "x" input(s) #}
  {% for i in ""|ljust:amount_available_toppings %}
    <select name="item{{ forloop.counter }}">
    {% for item in toppings %}
      <option value="{{ item.id }}">{{ item.name }}</option> 
    {% endfor %} 
     </select>
  {% endfor %}
    <br>
    <button type="submit">Submit</button>
  </form>
{% endblock %}

