{% extends "layout.html" %}

{% block title %}
  Adding a plate
{% endblock %}

{% load widget_tweaks %}
{% block body %}
  <h1>Adding a plate</h1>

  <form action="{% url 'shopping:additem' %}" method="post">
    {% csrf_token %}
    {{ form.plate_id }}
    {{ form.price_id }}
    {{ form.amount_toppings }}

    <div class="input-group mb-3">
      <span class="input-group-text">{{ form.plate.label }}:</span>
      {% render_field form.plate class+="form-control" required="" %}
      <span class="input-group-text">Your price:</span>
      <input class="form-control" type="text" name="" value="{{ plate.price }}" disabled>
      <span class="input-group-text">{{ form.amount.label }}:</span>
      {% render_field form.amount class+="form-control" required="" %}
    </div>


  {# If the current plate has available "x" items, show "x" input(s) #}
  {% for i in ""|ljust:amount_toppings %}
    <select name="topping_{{ forloop.counter0 }}">
    {% for topping in toppings %}
      <option value="{{ topping.id }}">{{ topping.name }}</option> 
    {% endfor %} 
     </select>
  {% endfor %}
    <br>
    <button type="submit">Submit</button>
  </form>
{% endblock %}

