{% extends "layout.html" %}

{% block title %}
  Adding a plate
{% endblock %}

{% block body %}
  <h1>Adding a plate</h1>
  <p>yeah, you got it, plate: {{ plate }}, id: {{ plate.id }}</p>
  <br>

  <form action="{% url 'shopping:additem' %}" method="post">
    {% csrf_token %}
    {{ form.plate_id }}

    {{ form.plate.label }}
    {{ form.plate }}
    <br>

    {{ form.amount.label }}
    {{ form.amount }}
    <br>

    <label for="plate_price_id">${{ plate.price }}</label>
    {{ form.price_id }}
    <br>

    {{ form.amount_toppings }}
    <br>

  {# If the current plate has available "x" items, show "x" input(s) #}
  {% for i in ""|ljust:amount_toppings %}
    <select name="topping_{{ forloop.counter0 }}">
    {% for topping in toppings %}
      <option value="{{ topping.id }}">{{ topping.name }}</option> 
    {% endfor %} 
     </select>
  {% endfor %}
    <br>
    <button type="submit">Submit</button>
  </form>
{% endblock %}

