{% extends "registration/base.html" %}

{% block title %}
  Login
{% endblock %}

{% block body %}
  <h1>Login</h1>
  {% if not isValid %}
    Invalid credentials
  {% endif %}

  <a href="{% url 'registration:register' %}">If not created account yet</a>
  <form method="post" action="{% url 'registration:login' %}">
    {% csrf_token %}
    {{ form.username.label_tag }}
    {{ form.username }}
    <br>
    {{ form.password.label_tag }}
    {{ form.password }}
    <input type="submit" value="login">
  </form>
{% endblock %}
