{% extends "layout.html" %}

{% block title %}
  Register
{% endblock %}

{% load widget_tweaks %}
{% block body %}
  <h1>Register</h1>

  <form class="needs-validation was-validated" action="{% url 'registration:register' %}" method="post" novalidate>
    {% csrf_token %}
    {# Username #}
    <div class="input-group mb-3">
      <span class="input-group-text">@</span>
      {% render_field form.username class+="form-control" placeholder=form.username.label required="" %}

      {# Validation #}
      <div class="invalid-feedback">
        Please write an username.
      </div>
    </div>

    {# Password #}
    <div class="input-group mb-3">
      {% render_field form.password class+="form-control" placeholder=form.password.label %}
      <span class="input-group-text">?£#$</span>
      {% render_field form.password_confirm class+="form-control" placeholder=form.password_confirm.label %}

      {# Validation #}
      <div class="invalid-feedback">
        Please wrire a password.
      </div>
    </div>
    <button type="submit" class="btn btn-primary">SUBMIT</button>
  </form>

  <a href="{% url 'registration:login' %}">If you have already an account</a>
{% endblock %}
